# Dependencies
node_modules/

# Environment Variables
.env
*.env.local
*.env.*.local
config.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build Output
dist/
build/

# Optional files
.DS_Store
.cache
*.pem
*.key

docs/*
dev/
.pdf
reversed_project_config.json